@charset "UTF-8";

/*aparelho deitado*/

body{
    background-color: orange;
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom; /*onde ele vai ficar fixado*/

}

